#blue-print {
  background: #3831bc; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #3831bc 0%,
    #5552b7 45%,
    #8f95e8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #3831bc 0%,
    #5552b7 45%,
    #8f95e8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #3831bc 0%,
    #5552b7 45%,
    #8f95e8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3831bc', endColorstr='#8f95e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  padding: 170px 0;
  color: white;
}
#blue-print:after {
  content: "";
  display: table;
  clear: both;
}
#blue-print .left-side {
  width: 60%;
  float: left;
}
#blue-print .left-side img {
  width: 100%;
}

#blue-print .right-side {
  width: 40%;
  float: left;
}
#blue-print .right-side h1 {
  font-size: 4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 70px;
  line-height: 1;
}

#blue-print .right-side .info-box {
  padding: 0 0 60px;
}

#blue-print .right-side .info-box:after {
  content: "";
  display: table;
  clear: both;
}
#blue-print .right-side .info-box .col-1 {
  width: 40%;
  float: left;
}
#blue-print .right-side .info-box .col-1 .icon-container {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 5px solid var(--orange);
  position: relative;
}
#blue-print .right-side .info-box .col-1 .icon-container .dashed-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px dashed white;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  left: 10px;
}

#blue-print .right-side .info-box .col-1 .icon-container .fab,
#blue-print .right-side .info-box .col-1 .icon-container .fas {
  font-size: 4rem;
  position: absolute;
  top: 40px;
  left: 50px;
}

#blue-print .right-side .info-box .col-2 {
  width: 60%;
  float: left;
}
#blue-print .right-side .info-box .col-2 h3 {
  font-size: 2rem;
  margin-bottom: 30px;
  margin-top: 29px;
}
#blue-print .right-side .info-box .col-2 p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
#blue-print .right-side .info-box .col-2 a {
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--orange);
  margin-bottom: 15px;
}

/* Laptop Devices */
@media only screen and (max-width: 1215px) {
}

/* Tablets Devices */
@media only screen and (max-width: 1023px) {
  #blue-print .left-side {
    width: 40%;
  }
  #blue-print .left-side img {
    position: relative;
    top: 150px;
  }

  #blue-print .right-side {
    width: 60%;
  }

  #blue-print .right-side h1 {
    font-size: 4rem;
    text-align: left;
  }
  #blue-print .right-side .info-box .col-1 {
    text-align: center;
  }
  #blue-print .right-side .info-box .col-1 .icon-container {
    width: 120px;
    height: 120px;
    margin: 20px auto 0;
  }
  #blue-print .right-side .info-box .col-1 .icon-container .dashed-circle {
    width: 90px;
    height: 90px;
  }
  #blue-print .right-side .info-box .col-1 .icon-container .fas,
  #blue-print .right-side .info-box .col-1 .icon-container .fab {
    font-size: 3rem;
    position: absolute;
    top: 30px;
    left: 40px;
  }
}

/* Mobile devices Devices */
@media only screen and (max-width: 767px) {
  #blue-print {
    padding: 100px 0;
  }
  #blue-print .left-side img {
    display: none;
  }
  #blue-print .left-side {
    width: 100%;
  }
  #blue-print .right-side {
    width: 100%;
  }
  #blue-print .right-side h1 {
    font-size: 3rem;
    text-align: center;
  }
  #blue-print .right-side .info-box .col-1 {
    text-align: center;
  }
  #blue-print .right-side .info-box .col-1 .icon-container {
    width: 120px;
    height: 120px;
    margin: 20px auto 0;
  }
  #blue-print .right-side .info-box .col-1 .icon-container .dashed-circle {
    width: 90px;
    height: 90px;
  }
  #blue-print .right-side .info-box .col-1 .icon-container .fas,
  #blue-print .right-side .info-box .col-1 .icon-container .fab {
    font-size: 3rem;
    position: absolute;
    top: 30px;
    left: 40px;
  }
}
