#top-jumbo {
  padding: 0 0 400px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    #ffffff 30%,
    #a9a6e0 73%,
    #d1bad1 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    #ffffff 30%,
    #a9a6e0 73%,
    #d1bad1 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    #ffffff 30%,
    #a9a6e0 73%,
    #d1bad1 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1bad1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#top-jumbo:after {
  content: "";
  display: table;
  clear: both;
}

#top-jumbo .left-side {
  width: 40%;
  /* display: inline-block; */
  float: left;
}
#top-jumbo .left-side .large-number {
  font-size: 300px;
  font-weight: 700;
  opacity: 0.2;
  color: var(--lightpurple);
  position: relative;
  left: -26px;
  top: 0;
  z-index: 1;
}
#top-jumbo .left-side .info-container {
  position: relative;
  top: -100px;
}
#top-jumbo .left-side .info-container h1 {
  color: var(--lightblue);
  font-size: 4.5rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}
#top-jumbo .left-side .info-container p {
  color: #aaacaf;
  font-size: 1rem;
  line-height: 1.8;
  text-transform: uppercase;
  font-weight: 300;
}
#top-jumbo .left-side .info-container .email-area {
  background: white;
  border-radius: 50px;
  display: inline-block;
  padding: 5px;
}
#top-jumbo .left-side .info-container .email-area button {
  background: var(--lightblue);
  padding: 20px 50px;
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
#top-jumbo .left-side .info-container .email-area .far {
  font-size: 2rem;
  position: relative;
  top: 7px;
  margin-left: 15px;
  color: #aaacaf;
}

#top-jumbo .left-side .info-container .email-area input[type="email"] {
  background: white;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1rem;
  width: auto;
  text-transform: lowercase;
}

#top-jumbo .right-side {
  width: 60%;
  /* display: inline-block; */
  float: right;
  padding: 0 40px;
}
#top-jumbo .right-side img {
  width: 100%;
  border: 0px;
}

/* Laptop Devices */
@media only screen and (max-width: 1215px) {
  #top-jumbo .left-side .info-container .email-area {
    width: 100%;
  }
  #top-jumbo .left-side .info-container .email-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #top-jumbo .left-side .info-container .email-area input[type="email"] {
    width: 50%;
    position: relative;
    top: 12px;
    float: left;
  }
  #top-jumbo .left-side .info-container .email-area button {
    padding: 20px 0;
    font-size: 1em;
    width: 35%;
    float: left;
  }
  #top-jumbo .right-side img {
    position: relative;
    top: 156px;
  }
}

/* Tablets Devices */
@media only screen and (max-width: 1023px) {
  #top-jumbo {
    padding: 0 0 300px;
  }
  #top-jumbo .left-side {
    width: 40%;
  }
  #top-jumbo .left-side .large-number {
    font-size: 250px;
  }
  #top-jumbo .left-side .info-container h1 {
    font-size: 3.5rem;
  }

  #top-jumbo .left-side .info-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  #top-jumbo .left-side .info-container .email-area {
    width: 100%;
  }
  #top-jumbo .left-side .info-container .email-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #top-jumbo .left-side .info-container .email-area input[type="email"] {
    width: 50%;
    position: relative;
    top: 12px;
    float: left;
  }
  #top-jumbo .left-side .info-container .email-area button {
    padding: 20px 0;
    font-size: 1em;
    width: 35%;
    float: left;
  }
  #top-jumbo .right-side {
    width: 60%;
  }
  #top-jumbo .right-side img {
    position: relative;
    top: 156px;
  }
}

/* Mobile devices Devices */
@media only screen and (max-width: 767px) {
  #top-jumbo {
    padding: 0 0 300px;
  }

  #top-jumbo .left-side {
    width: 100%;
  }
  #top-jumbo .left-side .large-number {
    font-size: 250px;
  }
  #top-jumbo .left-side .info-container h1 {
    font-size: 3.5rem;
  }

  #top-jumbo .left-side .info-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  #top-jumbo .left-side .info-container .email-area {
    width: 100%;
  }
  #top-jumbo .left-side .info-container .email-area .far {
    position: relative;
    top: 14px;
    margin-left: 0;
    float: left;
    width: 15%;
    text-align: center;
  }
  #top-jumbo .left-side .info-container .email-area input[type="email"] {
    width: 50%;
    position: relative;
    top: 12px;
    float: left;
  }
  #top-jumbo .left-side .info-container .email-area button {
    padding: 20px 0;
    font-size: 1em;
    width: 35%;
    float: left;
  }
  #top-jumbo .right-side {
    width: 100%;
  }
  #top-jumbo .right-side img {
    position: relative;
    top: 0px;
  }
}
